.text-centre {
  text-align: center;
  color: black;
}
.text-centre:hover {
  color: darkslategray;
}
.top-image {
  text-align: center;
}
.top-image img {
  border-color: white;
}
.top-hero {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
h3 {
  color: grey;
}
h3:hover {
  color: black;
}
h2 {
  color: grey;
}
h2:hover {
  color: black;
}
header img {
  border: 5px solid red;
  transition: ease-in 1s;
}
header img:hover {
  border-color: blueviolet;
}
.linki a {
  color: black;
  transition: ease-in 1s;
}
.linki a:hover {
  color: darkslateblue;
}
.tags span {
  border: 2px solid blue;
  padding: 5px 7px;
  color: blueviolet;
  border-radius: 8px;
  font-size: 0.9rem;
  display: inline-flex;
  margin: 2px;
}
.tags span:hover {
  border: 2px solid blue;
  padding: 5px 7px;
  color: red;
  border-radius: 8px;
  font-size: 0.9rem;
  display: inline-flex;
  margin: 2px;
}
.top-container {
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 70%;
}
.progress-bar {
  transition: 5s;
}
.trolo:hover {
  color: red;
}